* {
    outline: 0;
}

section {
    padding-top: 8vh;
}
html,
body {
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.owl-stage-outer {
    overflow: hidden;
    margin-top: 7vh;
}
.owl-stage {
    display: flex;
}
.owl-nav {
    display: none;
}
.owl-item {
    width: 100%;
}
.owl-dots {
    display: flex;
    justify-content: center;
    width: 100%;
}
.owl-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0.7vw;
    margin: 1vh 0.3vw;
    cursor: pointer;
}
.owl-dot span {
    width: 12px;
    height: 12px;
    background-color: #f1f3f4;
    border-radius: 50%;
    transition: all 0.2s;
}
.owl-dot.active span {
    background-color: #6198fe;
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    cursor: pointer;
    background-image: url(select-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
}
/* HAM ---------------------------------------------------------------------------------------- */
.line {
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: #000;
    position: relative;
    transition: all 0.2s;
}
.line::before,
.line::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: inherit;
    height: inherit;
    background: #000;
    border-radius: inherit;
    transition: all 0.3s;
}
.line::after {
    top: 6px;
}
.ham-active .line {
    background: transparent;
}
.ham-active .line::before,
.ham-active .line::after {
    transform: rotate(-45deg);
    top: 0;
}
.ham-active .line::after {
    transform: rotate(45deg);
}

/* MEDIAS -------------------------------------------------------------------------------- */
@media (max-width: 1279px) {
    .owl-dot span {
        width: 9px;
        height: 9px;
    }
    .owl-dot {
        padding: 2vh 0.7vw;
        margin: 0.4vh 0.3vw;
    }
}
@media (max-width: 1023px) {
    .owl-dot span {
        width: 10px;
        height: 10px;
    }
    .owl-dot {
        padding: 2vh 0.7vw;
        margin: 0.4vh 0.3vw;
    }
    .owl-item {
        height: 24vh;
    }
    .owl-stage-outer {
        margin-top: 3vh;
    }
}
@media (max-width: 767px) {
    .owl-dot {
        padding: 2vh 2vw;
        margin: 0.4vh 1vw;
    }
    .owl-item {
        height: 40vh;
    }
    .owl-stage-outer {
        margin-top: 3vh;
    }
    /* SIDE NAVIGATION ----------------------------------------------------------------------- */
    .links {
        position: fixed;
        top: 0;
        left: 0;
        background: #f1f3f4;
        border-bottom: 2px solid rgb(226, 232, 240);
        text-align: center;
        padding: 1.6vh 0;
        padding-top: 5vh;
        transform: translateY(-100%);
        transition: all 0.4s ease-in-out;
    }
    .links-active {
        transform: translateY(0);
    }
    .links a {
        padding: 0.6rem 0;
        margin: 0.6vh 0;
    }
}
