section {
    padding-top: 8vh;
}
html,
body {
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
}
.owl-stage-outer {
    overflow: hidden;
    margin-top: 7vh;
}
.owl-stage {
    display: flex;
}
.owl-nav {
    display: none;
}
.owl-item {
    width: 100%;
}
.owl-dots {
    display: flex;
    justify-content: center;
    width: 100%;
}
.owl-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0.7vw;
    margin: 1vh 0.3vw;
    cursor: pointer;
}
.owl-dot span {
    width: 12px;
    height: 12px;
    background-color: #f1f3f4;
    border-radius: 50%;
    transition: all 0.2s;
}
.owl-dot.active span {
    background-color: #6198fe;
}
@media (max-width: 1279px) {
    .owl-dot span {
        width: 9px;
        height: 9px;
    }
    .owl-dot {
        padding: 2vh 0.7vw;
        margin: 0.4vh 0.3vw;
    }
}
@media (max-width: 1023px) {
    .owl-dot span {
        width: 10px;
        height: 10px;
    }
    .owl-dot {
        padding: 2vh 0.7vw;
        margin: 0.4vh 0.3vw;
    }
    .owl-item {
        height: 24vh;
    }
    .owl-stage-outer {
        margin-top: 3vh;
    }
}
@media (max-width: 767px) {
    .owl-dot {
        padding: 2vh 2vw;
        margin: 0.4vh 1vw;
    }
    .owl-item {
        height: 36vh;
    }
    .owl-stage-outer {
        margin-top: 3vh;
    }
}
